<div class="row" *ngIf="member">
  <div class="col-3">
    <div class="card">
      <!--<img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}"-->
      <img src="{{imageSrc}}" alt="{{member.username}}"
           class="card-img-top img-thumbnail">
      <div class="card-body">
        <!--<div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
          <i class="fa fa-user-circle text-success"></i> Online now
        </div>-->
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <!--<p>{{member.lastActive | timeago}}</p>-->
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p><!--{{member.created | date: 'dd MMM yyyy'}}--></p>
          <p>{{member.created}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <!--<button (click)="selectTab(3)" class="btn btn-success">Message</button>-->
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
      <!--<tab heading='About {{member.username}}' (selectTab)="onTabActivated($event)">-->
      <tab heading='About {{member.username}}'>
        <h5>Full name:</h5>
        <p>{{member.firstName}} {{member.lastName}}</p>
        <h5>Age</h5>
        <p>{{member.age}}</p>
        <h5>Date Of Birth:</h5>
        <p>{{member.dateOfBirth}}</p>
        <h5>Last login:</h5>
        <p>{{member.lastActive}}</p>
      </tab>

      <!--<tab heading='Photos' (selectTab)="onTabActivated($event)">-->
      <!--<tab heading='Reccomendations'>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                 style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>

  </tab>-->
      <tab heading='Allergy Checks'>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                     style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        <h5>Allergy Checks:</h5>
        <!--<ul>
          <li *ngFor="let allergy of allergies">
            {{ allergy.allergyType }} - ${{ allergy.isComplete }}
          </li>
        </ul>-->
      </tab>

      <tab heading='Screenings'>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                     style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        <h5>Screenings:</h5>
        <!--<ul>
          <li *ngFor="let allergy of allergies">
            {{ allergy.allergyType }} - ${{ allergy.isComplete }}
          </li>
        </ul>-->
      </tab>

      <tab heading='Follow-Ups'>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                     style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        <h5>Follow-Ups:</h5>
        <!--<ul>
          <li *ngFor="let allergy of allergies">
            {{ allergy.allergyType }} - ${{ allergy.isComplete }}
          </li>
        </ul>-->
      </tab>

      <!--<tab heading='Messages' (selectTab)="onTabActivated($event)">
    <app-member-messages [username]="member.username"></app-member-messages>
  </tab>-->

    </tabset>
  </div>
</div>
