<div class="row" *ngIf="member">
  <div class="col-3">
    <div class="card">
      <img src="{{imageSrc}}" alt="{{member.username}}"
           class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive | date}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created | date}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
      <tab heading='About {{member.username}}'>
        <h5>Full name:</h5>
        <p>{{member.firstName}} {{member.lastName}}</p>
        <h5>Age</h5>
        <p>{{member.age}}</p>
        <h5>Date Of Birth:</h5>
        <p>{{member.dateOfBirth | date}}</p>
        <h5>Last login:</h5>
        <p>{{member.lastActive | date}}</p>
      </tab>
      <tab heading='Allergy Checks'>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                     style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        <h5>Allergy Checks:</h5>
        <ul>
        </ul>
      </tab>

      <tab heading='Screenings'>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                     style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        <h5>Screenings:</h5>
      </tab>

      <tab heading='Follow-Ups'>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                     style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
        <h5>Follow-Ups:</h5>
      </tab>
    </tabset>
  </div>
</div>
