<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Information: </strong> You have made changes.  Any unsaved changes will be lost
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src="{{'./assets/user.png'}}" alt="{{member.username}}"
           class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive | date}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created | date}}</p>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block">Save Changes</button>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading='About {{member.username}}'>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <h4>Change Gender</h4>
          <textarea class="form-control" [(ngModel)]="member.gender" name="gender" rows="6"></textarea>
        </form>
      </tab>
      <tab heading='Edit Reccomendations'>
        <p>Edit Reccomendations here</p>
      </tab>
    </tabset>
  </div>
</div>
